___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___
# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [7]:
%autosave 600

Autosaving every 600 seconds

In [8]:
# show version
from platform import python_version
print(python_version())

3.7.0

In [63]:
1 + 1

2

In [64]:
1 * 3

3

In [65]:
1 / 2

0.5

In [66]:
2 ** 4

16

In [67]:
4 % 2

0

In [68]:
5 % 2

1

In [69]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [70]:
# Can not start with number or special characters
name_of_var = 2

In [71]:
x = 2
y = 3

In [72]:
z = x + y

In [73]:
z

5

### Strings

In [74]:
'single quotes'

'single quotes'

In [75]:
"double quotes"

'double quotes'

In [76]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [77]:
x = 'hello'

In [78]:
x

'hello'

In [79]:
print(x)

hello

In [80]:
num = 12
name = 'Sam'

In [81]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [82]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [83]:
[1,2,3]

[1, 2, 3]

In [84]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [85]:
my_list = ['a','b','c']

In [86]:
my_list.append('d')

In [87]:
my_list

['a', 'b', 'c', 'd']

In [88]:
my_list[0]

'a'

In [89]:
my_list[1]

'b'

In [90]:
my_list[1:]

['b', 'c', 'd']

In [91]:
my_list[:1]

['a']

In [92]:
my_list[0] = 'NEW'

In [93]:
my_list

['NEW', 'b', 'c', 'd']

In [94]:
nest = [1,2,3,[4,5,['target']]]

In [95]:
nest[3]

[4, 5, ['target']]

In [96]:
nest[3][2]

['target']

In [97]:
nest[3][2][0]

'target'

### Dictionaries

In [11]:
d = {'key1':'item1','key2':'item2'}

In [99]:
d

{'key1': 'item1', 'key2': 'item2'}

In [100]:
d['key1']

'item1'

In [101]:
e = {'key1':[1,2,3]}

In [102]:
e['key1']

[1, 2, 3]

In [104]:
e['key1'][1]

2

In [105]:
f = {'key1':{'innerkey':[1,2,3]}}

In [107]:
f['key1']

{'innerkey': [1, 2, 3]}

In [108]:
f['key1']['innerkey']

[1, 2, 3]

In [109]:
f['key1']['innerkey'][1]

2

### Booleans

In [111]:
True

True

In [112]:
False

False

# Tuples

In [113]:
# like list, instead using [], you use ()

In [45]:
t = (1,2,3)

In [114]:
t[0]

1

In [116]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [118]:
# And this is because tuples are immutable and they do not support item assignment. but list is mutable !!!

### Sets

In [119]:
# sets in Python is a collection of "unique" elements.
# And it looks the same of curly brackets as a dictionary except it doesn't have the colons, 
# it's just elements.

In [120]:
{1,2,3}

{1, 2, 3}

In [124]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [125]:
# you can use a set function and put a list inside to give you unique elements

In [127]:
set([1,2,3,3,3,4,6,6,6,6,6])

{1, 2, 3, 4, 6}

In [129]:
# if you want to add element to a set

In [135]:
s = {1,2,3}

In [136]:
s.add(5)

In [138]:
s

{1, 2, 3, 5}

In [140]:
s.add(5)

In [141]:
s

{1, 2, 3, 5}

In [142]:
# it will not add 5 again !

## Comparison Operators

In [143]:
1 > 2

False

In [144]:
1 < 2

True

In [145]:
1 >= 1

True

In [146]:
1 <= 4

True

In [149]:
1 == 1

True

In [151]:
1 = 1

SyntaxError: can't assign to literal (<ipython-input-151-ecdac3dcabfd>, line 1)

In [152]:
'hi' == 'bye'

False

In [153]:
1 != 3

True

## Logic Operators

In [161]:
# if the and operator all conditions must be true. recommend to wrape conditions with ()

In [162]:
(1 > 2) and (2 < 3)

False

In [165]:
(3 > 2) and (2 < 4)

True

In [164]:
(1 < 2) and (2 > 3)

False

In [ ]:
# if the or operator one of conditions is true.

In [166]:
(1 > 2) or (2 < 3)

True

In [168]:
(1 > 2) or (4 < 3)

False

In [169]:
(1 < 2) or (2 < 3)

True

In [170]:
(1 == 2) or (2 == 3) or (4 == 4)

True

In [172]:
True and True

True

In [178]:
False and True

False

In [179]:
False and False

False

In [180]:
False or False

False

In [181]:
False or True

True

## if,elif, else Statements

In [182]:
if 1 < 2:
    print('Yep!')

Yep!

In [184]:
if 1 < 2:
    print('yep!')

yep!

In [185]:
if True:
    print('yep!')

yep!

In [186]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [187]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [190]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [192]:
if 1 == 1:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

first

In [ ]:
# it's going to execute the first true condition and that's it !.

## for Loops

In [193]:
seq = [1,2,3,4,5]

In [194]:
for item in seq:
    print(item)

1
2
3
4
5

In [195]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [196]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [197]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [204]:
range(5)

range(0, 5)

In [205]:
# 5 elements, starting with 0

In [206]:
for i in range(5):
    print(i)

0
1
2
3
4

In [207]:
list(range(5))
# put it in a list function

[0, 1, 2, 3, 4]

## list comprehension

In [208]:
x = [1,2,3,4]

In [209]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [211]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [222]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [ ]:
# add the documentation string to a function by putting in a set of triple enclosing quotes and tripling
# closing quotes. Basically allows you to put in a giant string over multiple lines so we can say this 
# is a docstring and this is essentially just a really long comments.

In [224]:
my_func

In [225]:
# my_func and use shift+Tab to see the docstring

In [226]:
my_func()

default

In [215]:
my_func('new param')

new param

In [216]:
my_func(param1='new param')

new param

In [217]:
def square(x):
    return x**2

In [218]:
out = square(2)

In [220]:
print(out)

4

In [221]:
# When you returned this you're going to want to set it equal to some other variable.
# when you're printing something you're going to print a value but not actually return it or store it anywhere.

## lambda expressions

In [227]:
def times2(var):
    return var*2

In [228]:
times2(2)

4

In [252]:
#
# simplify it using lambda
# it's basically just the way of rewriting an entire function into a single line of clean code.
# And the reason for this is because you usually don't want to have to write and define an entire function
#
lambda var: var*2

In [253]:
t = lambda var: var*2

In [254]:
t(6)

12

## map and filter

In [385]:
seq = [1,2,3,4,7]

In [386]:
map(times2,seq)

In [388]:
list(map(times2,seq))

[2, 4, 6, 8, 14]

In [389]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 14]

In [390]:
filter(lambda item: item%2 == 0,seq)

In [391]:
list(filter(lambda item: item%2 == 0,seq))
# it returns only the events that is true: even numbers in the sequence

[2, 4]

In [265]:
# Filter is going to have a very similar structure to map.
# But instead of mapping a function to every element in a sequence, 
# we will filter out elements from a sequence.

## methods

In [268]:
st = 'hello my name is Sam'

In [270]:
# st. and click Tab to see all methods that you can use
st.

SyntaxError: invalid syntax (<ipython-input-270-4b7b0a3054b4>, line 2)

In [271]:
st.lower()

'hello my name is sam'

In [272]:
st.upper()

'HELLO MY NAME IS SAM'

In [273]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [274]:
tweet = 'Go Sports! #Sports'

In [275]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [276]:
tweet.split('#')[1]

'Sports'

In [12]:
d

{'key1': 'item1', 'key2': 'item2'}

In [20]:
d.keys()

dict_keys(['key1', 'key2'])

In [21]:
d.keys()[0]

TypeError: 'dict_keys' object does not support indexing

In [22]:
list(d.keys())

['key1', 'key2']

In [23]:
list(d.keys())[0]

'key1'

In [320]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [321]:
d.values()

dict_values(['item1', 'item2'])

In [353]:
lst = [1,2,3]

In [354]:
lst.pop()
# Remove and return item at index (default last).

3

In [355]:
lst

[1, 2]

In [25]:
lst= [1,2,3,4,5]

In [26]:
lst

[1, 2, 3, 4, 5]

In [27]:
item=lst.pop()

In [359]:
lst

[1, 2, 3, 4]

In [360]:
item

5

In [361]:
item=lst.pop(0)
# specify index to pop

In [362]:
item

1

In [363]:
lst

[2, 3, 4]

In [364]:
lst.append('new')

In [365]:
lst

[2, 3, 4, 'new']

In [366]:
# if you want to check if something is inside of a list 
'x' in [1,2,3]

False

In [368]:
'x' in ['x','y','z']

True

In [369]:
# a list of tuples
x=[(1,2),(3,4),(5,6)]

In [371]:
x[0][1]

2

In [373]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [375]:
# tuple unpacking
for (a,b) in x:
    print(a)

1
3
5

In [376]:
# tuple unpacking, we see this more without ()
for a,b in x:
    print(a)

1
3
5

# Great Job!