___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [1]:
import pandas as pd
import numpy as np
%autosave 600

Autosaving every 600 seconds

In [2]:
#show version:
from platform import python_version
print("python version: ",python_version())

import numpy as np	
print("numpy version: ",np.version.version)

print("pandas version: ",pd.__version__)
#pd.show_versions(as_json=False)

python version:  3.7.0
numpy version:  1.15.1
pandas version:  0.23.4

In [3]:
from numpy.random import randn
np.random.seed(101)
# what a seed means is just to make sure that we get the same random numbers.
# That way if you're following me you'll see the same random numbers.

In [5]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [6]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [7]:
# you can also use it this way
#df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
#df

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [8]:
# 1st way (main way) tp grab a column of data
df['W']

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [9]:
# you can confirm this by
type(df['W'])

pandas.core.series.Series

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
# Pass a list of column names
df[['W','Z']]

          W         Z
A  0.302665 -1.159119
B -0.134841  0.184502
C  0.807706  0.329646
D -0.497104  0.484752
E -0.116773  1.996652

In [12]:
# the 2nd way to grab a column, if you are familiar with sql
# SQL Syntax (NOT RECOMMENDED!) it may confuse you panda with other methods, and methods may be overwritten 
# by the column name
df.W

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

DataFrame Columns are just Series

In [13]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [14]:
# if you just type df['new'], it not defined yet, you will get error message 
df['new']

KeyError: 'new'

In [15]:
# now you can define this new column, now there is no error
df['new'] = df['W'] + df['Y']

In [14]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

** Removing Columns**

In [16]:
# use drop to remove columns, if you just df.drop('new') you will get an error, and it is because
# by default, axis = 0, which refers to index (row)
df.drop('new')

KeyError: "['new'] not found in axis"

In [17]:
# specify axis = 1 for column
df.drop('new',axis=1)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [18]:
# Not inplace unless specified!
# new column is still here !!! because inplace is set = False by default
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [19]:
# you need to set inplace = True to really remove the new column
# pandas does that so you will not accidently lose infomation
df.drop('new',axis=1,inplace=True)

In [20]:
# now new column is permantly removed 
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

Can also drop rows this way:

In [21]:
df.drop('E',axis=0)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

In [22]:
# you dont need to add axis=0 because its default
df.drop('E')

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

In [23]:
# why axis = 0 refer to row and axis = 1 refer to column ?
# the reference comes back to numpy
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [25]:
# df.shape gives you a tuple, 0 index are number of rows
#                             1                     columns
# => 5 rows and 4 columns
# thats why rows/columns refer to 0/1 axis, like numpy array
df.shape

(5, 4)

** Selecting Rows**

In [26]:
# 2 methods to select rows
# 1st method : label based index
df.loc['A']

W    0.302665
X    1.693723
Y   -1.706086
Z   -1.159119
Name: A, dtype: float64

In [46]:
# it tells us that not only is the column a series, a row is a series as well

Or select based off of position instead of label

In [27]:
# 2nd way to grab a row, base on numerical index position
# its a numerical based index
df.iloc[2]

W    0.807706
X    0.072960
Y    0.638787
Z    0.329646
Name: C, dtype: float64

In [28]:
# which is same as 
df.loc['C']
# which is method 1: label based

W    0.807706
X    0.072960
Y    0.638787
Z    0.329646
Name: C, dtype: float64

** Selecting subset of rows and columns **

In [30]:
df.loc['B','Y']

0.16690463609281317

In [31]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  0.302665 -1.706086
B -0.134841  0.166905

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [32]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [33]:
# very similar to numpy
df>0

       W      X      Y      Z
A   True   True  False  False
B  False   True   True   True
C   True   True   True   True
D  False  False  False   True
E  False   True   True   True

In [34]:
booldf = df > 0
booldf

       W      X      Y      Z
A   True   True  False  False
B  False   True   True   True
C   True   True   True   True
D  False  False  False   True
E  False   True   True   True

In [35]:
df[booldf]

          W         X         Y         Z
A  0.302665  1.693723       NaN       NaN
B       NaN  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D       NaN       NaN       NaN  0.484752
E       NaN  1.901755  0.238127  1.996652

In [36]:
# you can finish it with 1 command
df[df>0]

          W         X         Y         Z
A  0.302665  1.693723       NaN       NaN
B       NaN  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D       NaN       NaN       NaN  0.484752
E       NaN  1.901755  0.238127  1.996652

In [39]:
df[df['W']>0]
# df['W'] > 0 gives you A C, we will use it alot !

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
C  0.807706  0.072960  0.638787  0.329646

In [40]:
# i wannt grab all the rows in my data frame where Z < 0
df[df['Z']<0]

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119

In [44]:
# for all rows with W > 0 (= row A,C), show me column ['Y']
df[df['W']>0]['Y']

A   -1.706086
C    0.638787
Name: Y, dtype: float64

In [45]:
# for all rows with W > 0 (= row A,B,D,E), show me column ['Y'] and ['X']
df[df['W']>0][['Y','X']]

          Y         X
A -1.706086  1.693723
C  0.638787  0.072960

For two conditions you can use | and & with parenthesis:

In [47]:
# 'W' > 0 (A C) and 'Y' > 1 (none)
# you cannnot use and
df[(df['W']>0) and (df['Y'] > 1)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [48]:
# because python's normal 'and' operator cannot take into account a series of boolean
# values. 'and' operator can only take into account single boolean at a time
# like True and False, True and True, etc
True and False

False

In [49]:
# when you pass an entire series of boolean values, the 'and' operator begin to get confused, it can only 
# deal with single instance of boolean valuse.
# which is why when you are working with pandas, you need to use & instead of and operator
# and you use () to correctly pass the conditions

In [50]:
df[(df['W']>0) & (df['Y'] > 1)]

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

In [51]:
# if you want to do 'or' operator, you cannot use python 'or' operator due to the same reason,
# you want to use | instead
df[(df['W']>0) or (df['Y'] > 1)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [52]:
df[(df['W']>0) | (df['Y'] > 1)]

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
C  0.807706  0.072960  0.638787  0.329646

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [53]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [54]:
# Reset to default 0,1...n index
# call the method reset_index
df.reset_index()

  index         W         X         Y         Z
0     A  0.302665  1.693723 -1.706086 -1.159119
1     B -0.134841  0.390528  0.166905  0.184502
2     C  0.807706  0.072960  0.638787  0.329646
3     D -0.497104 -0.754070 -0.943406  0.484752
4     E -0.116773  1.901755  0.238127  1.996652

In [55]:
# and its not inplace until you specify it
# if you call df, you still see A B C D E as label until you specify inplace=True
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [56]:
newind = 'CA NY WY OR CO'.split()
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [57]:
df['States'] = newind

In [97]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [59]:
# if you want to set index, again its not inplace
df.set_index('States')

               W         X         Y         Z
States
CA      0.302665  1.693723 -1.706086 -1.159119
NY     -0.134841  0.390528  0.166905  0.184502
WY      0.807706  0.072960  0.638787  0.329646
OR     -0.497104 -0.754070 -0.943406  0.484752
CO     -0.116773  1.901755  0.238127  1.996652

In [60]:
df

          W         X         Y         Z States
A  0.302665  1.693723 -1.706086 -1.159119     CA
B -0.134841  0.390528  0.166905  0.184502     NY
C  0.807706  0.072960  0.638787  0.329646     WY
D -0.497104 -0.754070 -0.943406  0.484752     OR
E -0.116773  1.901755  0.238127  1.996652     CO

In [61]:
df.set_index('States',inplace=True)

In [103]:
df

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [62]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]

In [63]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [64]:
inside

[1, 2, 3, 1, 2, 3]

In [65]:
# use zip function
zip(outside,inside)

In [66]:
# make a list of tuple pairs
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [67]:
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [71]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [72]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df
# there are 2 levels of index, G1 and G2, and sub indise level, 1 2 3, 1 2 3,
# and 2 columns
# its what we call multi-index or index hierarchy

             A         B
G1 1  0.147027 -0.479448
   2  0.558769  1.024810
   3 -0.925874  1.862864
G2 1 -1.133817  0.610478
   2  0.386030  2.084019
   3 -0.376519  0.230336

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [74]:
df.loc['G1']

          A         B
1  0.147027 -0.479448
2  0.558769  1.024810
3 -0.925874  1.862864

In [76]:
df.loc['G1'].loc[1]

A    0.147027
B   -0.479448
Name: 1, dtype: float64

In [77]:
# if you want to name the index
df.index.names

FrozenList([None, None])

In [124]:
# None None indicates G1, G2, 1, 2, 3 have no names

In [78]:
# use = to pass a list of names
df.index.names = ['Group','Num']

In [79]:
df

                  A         B
Group Num
G1    1    0.147027 -0.479448
      2    0.558769  1.024810
      3   -0.925874  1.862864
G2    1   -1.133817  0.610478
      2    0.386030  2.084019
      3   -0.376519  0.230336

In [81]:
# if i want to grab row G2-2, column B =>
df.loc['G2'].loc[2]['B']

2.084018530338962

In [82]:
# if i want to grab everything under G1, 
# method 1
df.loc['G1']

            A         B
Num
1    0.147027 -0.479448
2    0.558769  1.024810
3   -0.925874  1.862864

In [83]:
# or method 2: cross section xs
# 
df.xs('G1')

            A         B
Num
1    0.147027 -0.479448
2    0.558769  1.024810
3   -0.925874  1.862864

In [84]:
df.xs(['G1',1])

A    0.147027
B   -0.479448
Name: (G1, 1), dtype: float64

In [141]:
# if we want to grab data of Num =1 in G1 and G2, its difficult to use 
# loc method, but easier to use xs

In [86]:
df.xs(1,level='Num')
# this allows us to grab a cross section where level equals num, is equal to 1

              A         B
Group
G1     0.147027 -0.479448
G2    -1.133817  0.610478

# Great Job!