___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# Missing Data

Let's show a few convenient methods to deal with Missing Data in pandas:

In [1]:
import numpy as np
import pandas as pd
%autosave 600

Autosaving every 600 seconds

In [2]:
# show version:
from platform import python_version
print("python version: ",python_version())

print("numpy version: ",np.version.version)

print("pandas version: ",pd.__version__)

python version:  3.7.0
numpy version:  1.15.1
pandas version:  0.23.4

In [9]:
# pandas will auto-matically fill in missing data with NaN value
# we can create dataframe with a dictionary as well
# this dictionary d and then pass d to dataframe
d = {'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}
df = pd.DataFrame(d)
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [3]:
# or 
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [4]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [5]:
# you wanna drop the missing value from data set
df.dropna()
# will drop row with missing value in it

     A    B  C
0  1.0  5.0  1

In [6]:
# if you wanna drop columns with missing values, use axis = 1
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [18]:
# set threshold of integer number of nans
# if the row/column has >= thresh number of non-NaN values, then it stay !
# ex: row 0 has 3 non-NaN, row 1 has 2 non-NaN  
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [20]:
# if you want to replace the missing values
# replace missing value with value specify here
df.fillna(value='FILL VALUE')

            A           B  C
0           1           5  1
1           2  FILL VALUE  2
2  FILL VALUE  FILL VALUE  3

In [23]:
# fill the missing value of column A with mean value of column A
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

# Great Job!