___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise - Solutions

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [2]:
sal = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [4]:
sal.info() # 148654 Entries

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [5]:
sal['BasePay'].mean()

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [6]:
sal['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [7]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [8]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [18]:
#sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].max()] #['EmployeeName']
# or
sal.loc[sal['TotalPayBenefits'].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [19]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].min()] #['EmployeeName']
# or
# sal.loc[sal['TotalPayBenefits'].idxmax()]['EmployeeName']

## ITS NEGATIVE!! VERY STRANGE

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [23]:
sal.groupby('Year').mean()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Notes,Status
Year,,,,,,,,,
2011,18080.0,63595.956517,4531.065429,3617.081926,NaN,71744.103871,71744.103871,NaN,NaN
2012,54542.5,65436.406857,5023.417824,3653.437583,26439.966967,74113.262265,100553.229232,NaN,NaN
2013,91728.5,69630.030216,5281.641980,3819.969007,23829.076572,77611.443142,101440.519714,NaN,NaN
2014,129593.0,66564.421924,5401.993737,3505.421251,24789.601756,75463.918140,100250.918884,NaN,NaN

In [24]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [28]:
sal['JobTitle'].nunique()
# or
#len(sal['JobTitle'].unique())

2159

** What are the top 5 most common jobs? **

In [31]:
sal['JobTitle'].value_counts().head(5)
# or sal['JobTitle'].value_counts()[0:5]

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [35]:
sal[sal['Year']==2013]['JobTitle'].value_counts() == 1

Transit Operator                  False
Special Nurse                     False
Registered Nurse                  False
Public Svc Aide-Public Works      False
Custodian                         False
Firefighter                       False
Police Officer 3                  False
Patient Care Assistant            False
Recreation Leader                 False
Deputy Sheriff                    False
Police Officer                    False
Public Service Trainee            False
Police Officer 2                  False
Attorney (Civil/Criminal)         False
Sergeant 3                        False
Porter                            False
Eligibility Worker                False
General Laborer                   False
Gardener                          False
EMT/Paramedic/Firefighter         False
Senior Clerk                      False
Parking Control Officer           False
Library Page                      False
Senior Eligibility Worker         False
Senior Clerk Typist               False
Licensed Vocational Nurse         False
Clerk                             False
Stationary Engineer               False
Nurse Practitioner                False
PS Aide to Prof                   False
                                  ...
Mayor                              True
Director, Info Tech Group          True
IS Trainer-Senior                  True
Orthopedic Technician 1            True
Vet Laboratory Technologist        True
Secretary, Library Commission      True
Employee Assistance Counselor      True
Chief Fire Alarm Dispatcher        True
City Shops Asst Superintendent     True
Orthopedic Technician 2            True
Asst Dir of Clinical Svcs 1        True
Claims Process Clerk               True
Principal Real Property Ofc        True
Animal Care Supervisor             True
Traf Signal Electrician Sup II     True
Airport Communications Officer     True
Signal and Systems Engineer        True
Chief of Police                    True
Senior Morgue Attendant            True
Principal Recreation Sprv          True
Undersheriff                       True
Cement Finisher Supervisor 2       True
Librarian 2 - Asian Arts           True
Senior Transcriber Typist          True
Track Maint Supt, Muni Railway     True
Wire Rope Cable Maint Sprv         True
Window Cleaner Supervisor          True
Law Librarian                      True
Arborist Technician Supv II        True
Mgr Museum Security Services       True
Name: JobTitle, Length: 1051, dtype: bool

In [34]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1) # pretty tricky way to do this...

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [46]:
def chief_string(title):
#    if 'chief' in title.lower().split():
# using .split gives you only 477, you are missing some titles like .chief
    if 'chief' in title.lower():
        return True
    else:
        return False

In [47]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

627

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [48]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [49]:
sal[['title_len','TotalPayBenefits']]

        title_len  TotalPayBenefits
0              46         567595.43
1              31         538909.28
2              31         335279.91
3              36         332343.61
4              44         326373.19
5              25         316285.74
6              34         315981.05
7              30         307899.46
8              34         303427.55
9              38         302377.73
10             48         299494.17
11             31         297608.92
12             27         294580.02
13             17         292671.62
14             34         286347.05
15             34         286213.86
16             17         284720.43
17             37         278569.21
18             34         276434.22
19             26         274550.25
20             26         274190.27
21             26         273771.21
22             25         273702.71
23             34         270672.63
24             25         270324.91
25             15         267992.59
26             25         265784.56
27             34         265463.46
28             36         264074.60
29             44         261366.14
...           ...               ...
148624         12             12.89
148625         16              7.24
148626         13              0.00
148627         15              0.00
148628         15              0.00
148629         18              0.00
148630          9              0.00
148631         27              0.00
148632         26              0.00
148633         15              0.00
148634         19              0.00
148635         15              0.00
148636         19              0.00
148637         22              0.00
148638         11              0.00
148639          9              0.00
148640         23              0.00
148641         12              0.00
148642         11              0.00
148643         23              0.00
148644         28              0.00
148645         25              0.00
148646         12              0.00
148647         27              0.00
148648          9              0.00
148649          9              0.00
148650         12              0.00
148651         12              0.00
148652         12              0.00
148653         26           -618.13

[148654 rows x 2 columns]

In [50]:
sal[['title_len','TotalPayBenefits']].corr() # No correlation.

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!